In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\mitra\Desktop\MAIN\MITRA P\ML\ML TECHNIQUES\ENCODING TECHNIQUES\ORDINAL ENCODING\customer.csv")

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
df=df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
X=df.drop(["purchased"],axis=1)
y=df["purchased"]

### Split the data

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [8]:
x_train.shape

(35, 2)

In [9]:
x_test.shape

(15, 2)

### LABEL ENCODING

#### Only use in Target Feature(If the target is Categorical)

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
lbl=LabelEncoder()

In [13]:
lbl.fit(y_train)

LabelEncoder()

In [14]:
lbl.classes_

array(['No', 'Yes'], dtype=object)

In [15]:
y_train=lbl.transform(y_train)

In [16]:
y_train

array([1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])