In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df=pd.read_csv(r"C:\Users\mitra\Desktop\MAIN\MITRA P\ML\ML TECHNIQUES\COLUMN TRANSFORMER\covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
x=df.drop(["has_covid"],axis=1)

In [6]:
y=df["has_covid"]

### Split the data

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

## Column Transformer

In [8]:
from sklearn.compose import ColumnTransformer

In [9]:
# Create a object of Column Transformer name as "trans"

trans=ColumnTransformer(transformers=[  
    
    # We pass 2 things i.e "Transformer's List","Remainder".
    
    # Reaminder--> We donot use transformation in every column.. If some column is left,then we drop it otherwise leave it.
    
    # In this list we pass 3 things in "Touple" i.e "Transformer Name","Transformer Object","Column's Name in list"
    
    ("tnf1",SimpleImputer(),["fever"]),    
    
    ("tnf2",OrdinalEncoder(categories=[["Mild","Strong"]]),["cough"]),
    
    ("tnf3",OneHotEncoder(sparse=False,drop="first"),["gender","city"])
    
],remainder="passthrough")

In [10]:
trans.fit_transform(x_train).shape

(80, 7)

In [11]:
trans.fit_transform(x_test).shape

(20, 7)

In [12]:
trans.transformers_

[('tnf1', SimpleImputer(), ['fever']),
 ('tnf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
 ('tnf3', OneHotEncoder(drop='first', sparse=False), ['gender', 'city']),
 ('remainder', 'passthrough', [0])]