# <font color="red">BACKWARD FEATURE SELECTION

In [1]:
import pandas as pd
from mlxtend.feature_selection import SequentialFeatureSelector

In [2]:
df=pd.read_csv(r"C:\Users\mitra\Desktop\Wine\winequality_white.csv")

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
df.shape

(4898, 12)

In [5]:
df.isnull().sum()   # Check any missing value in any columns

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [6]:
df[df.isnull().any(axis=1)] # Check any missing value in any rows

Empty DataFrame
Columns: [fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, quality]
Index: []

In [7]:
x=df.iloc[:,0:11]
y=df.iloc[:,-1]

In [8]:
x.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [9]:
x.shape

(4898, 11)

In [10]:
y

0       6
1       6
2       6
3       6
4       6
       ..
4893    6
4894    5
4895    6
4896    7
4897    6
Name: quality, Length: 4898, dtype: int64

###  <font color="green">Spilt the X & y

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [12]:
from sklearn.ensemble import RandomForestClassifier   # Import an algorithm

### <font color="blue">Manual Approach

In [13]:
backward_feature_selection=SequentialFeatureSelector(RandomForestClassifier(n_jobs=-1), # All the courses availabe in your pc.
                                                   k_features=7,         # How many feature you want.
                                                   forward= False,        # Backward Feature Selection
                                                   floating=False,
                                                   verbose=2,             # See How the model fitting
                                                   scoring="accuracy",  
                                                   cv=5).fit(x_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:   20.1s finished

[2023-10-29 11:34:45] Features: 10/7 -- score: 0.6657036453789024[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:   20.7s finished

[2023-10-29 11:35:06] Features: 9/7 -- score: 0.6624949458406929[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   16.8s finished

[2023-10-29 11:35:23] Features: 8/7 -- score: 0.6610265795577877[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:   14.7s finished

[2023-10-29 11:35:38] Features: 7/7 -- score: 0.6537375242067631

In [14]:
backward_feature_selection.k_feature_idx_  # Show Index Number of the Features which are Selected

(0, 1, 2, 3, 5, 9, 10)

In [15]:
backward_feature_selection.k_feature_names_  #  Show Name of the Features which are Selected

('fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'free sulfur dioxide',
 'sulphates',
 'alcohol')

In [16]:
backward_feature_selection.k_score_  # Show the score

0.6537375242067631

In [17]:
pd.DataFrame.from_dict(backward_feature_selection.get_metric_dict()).T  # Show all the information in DataFrame

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
11,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)","[0.6676384839650146, 0.6399416909620991, 0.653...",0.657238,"(fixed acidity, volatile acidity, citric acid,...",0.014536,0.011309,0.005655
10,"(0, 1, 2, 3, 4, 5, 6, 7, 9, 10)","[0.6559766763848397, 0.6486880466472303, 0.660...",0.665704,"(fixed acidity, volatile acidity, citric acid,...",0.024137,0.018779,0.00939
9,"(0, 1, 2, 3, 4, 5, 6, 9, 10)","[0.6676384839650146, 0.6370262390670554, 0.650...",0.662495,"(fixed acidity, volatile acidity, citric acid,...",0.023236,0.018079,0.009039
8,"(0, 1, 2, 3, 5, 6, 9, 10)","[0.6778425655976676, 0.6472303206997084, 0.658...",0.661027,"(fixed acidity, volatile acidity, citric acid,...",0.016883,0.013136,0.006568
7,"(0, 1, 2, 3, 5, 9, 10)","[0.6690962099125365, 0.6384839650145773, 0.641...",0.653738,"(fixed acidity, volatile acidity, citric acid,...",0.018544,0.014428,0.007214

### <font color="blue">Automated Approach

In [18]:
backward_feature_selection1=SequentialFeatureSelector(RandomForestClassifier(n_jobs=-1), # All the courses availabe in your pc.
                                                   k_features=(1,11),         # How many feature you want.
                                                   forward= False,        # Backward Feature Selection
                                                   floating=False,
                                                   verbose=2,             # See How the model fitting
                                                   scoring="accuracy",  
                                                   cv=5).fit(x_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:   22.4s finished

[2023-10-29 11:36:02] Features: 10/1 -- score: 0.6694937328424592[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:   20.5s finished

[2023-10-29 11:36:23] Features: 9/1 -- score: 0.6598625268668469[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   16.6s finished

[2023-10-29 11:36:39] Features: 8/1 -- score: 0.6651124683450023[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:   14.9s finished

[2023-10-29 11:36:54] Features: 7/1 -- score: 0.6584056521461557[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:   12.9s finished

[2023-10-29 11:37:07] Features: 6/1 -- score: 0.6522780958055798[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:   11.0s finished

[2023-10-29 11:37:19] Features: 5/1 -- score: 0.6426477410567981[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    9.2s finished

[2023-10-29 11:37:28] Features: 4/1 -- score: 0.6318524823902449[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    7.0s finished

[2023-10-29 11:37:35] Features: 3/1 -- score: 0.6085203549615883[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    4.9s finished

[2023-10-29 11:37:40] Features: 2/1 -- score: 0.5326717882147645[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    2.8s finished

[2023-10-29 11:37:43] Features: 1/1 -- score: 0.48919537783830946

In [19]:
backward_feature_selection1.k_feature_names_

('fixed acidity',
 'volatile acidity',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol')

In [20]:
backward_feature_selection1.k_score_

0.6694937328424592

In [21]:
pd.DataFrame.from_dict(backward_feature_selection1.get_metric_dict()).T

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
11,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)","[0.6603498542274052, 0.6326530612244898, 0.645...",0.654032,"(fixed acidity, volatile acidity, citric acid,...",0.016631,0.01294,0.00647
10,"(0, 1, 3, 4, 5, 6, 7, 8, 9, 10)","[0.6749271137026239, 0.6399416909620991, 0.669...",0.669494,"(fixed acidity, volatile acidity, residual sug...",0.020082,0.015624,0.007812
9,"(0, 1, 4, 5, 6, 7, 8, 9, 10)","[0.6822157434402333, 0.6311953352769679, 0.657...",0.659863,"(fixed acidity, volatile acidity, chlorides, f...",0.022403,0.01743,0.008715
8,"(1, 4, 5, 6, 7, 8, 9, 10)","[0.6778425655976676, 0.6457725947521866, 0.666...",0.665112,"(volatile acidity, chlorides, free sulfur diox...",0.013834,0.010763,0.005382
7,"(1, 4, 5, 6, 8, 9, 10)","[0.6661807580174927, 0.6355685131195336, 0.658...",0.658406,"(volatile acidity, chlorides, free sulfur diox...",0.015267,0.011879,0.005939
6,"(1, 4, 5, 8, 9, 10)","[0.6618075801749271, 0.6501457725947521, 0.635...",0.652278,"(volatile acidity, chlorides, free sulfur diox...",0.013164,0.010242,0.005121
5,"(1, 4, 5, 9, 10)","[0.6647230320699709, 0.6297376093294461, 0.637...",0.642648,"(volatile acidity, chlorides, free sulfur diox...",0.019975,0.015541,0.007771
4,"(1, 4, 5, 10)","[0.6326530612244898, 0.6311953352769679, 0.641...",0.631852,"(volatile acidity, chlorides, free sulfur diox...",0.009412,0.007323,0.003661
3,"(1, 5, 10)","[0.6151603498542274, 0.6137026239067055, 0.588...",0.60852,"(volatile acidity, free sulfur dioxide, alcohol)",0.017765,0.013822,0.006911
2,"(5, 10)","[0.5379008746355685, 0.5291545189504373, 0.532...",0.532672,"(free sulfur dioxide, alcohol)",0.00554,0.004311,0.002155
1,"(10,)","[0.4970845481049563, 0.5, 0.5087463556851312, ...",0.489195,"(alcohol,)",0.022742,0.017694,0.008847