# <font color="red">FORWARD FEATURE SELECTION

In [1]:
import pandas as pd
from mlxtend.feature_selection import SequentialFeatureSelector

In [2]:
df=pd.read_csv(r"C:\Users\mitra\Desktop\Wine\winequality_white.csv")

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
df.shape

(4898, 12)

In [5]:
df.isnull().sum()   # Check any missing value in any columns

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [6]:
df[df.isnull().any(axis=1)] # Check any missing value in any rows

Empty DataFrame
Columns: [fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, quality]
Index: []

In [7]:
x=df.iloc[:,0:11]
y=df.iloc[:,-1]

In [8]:
x.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [9]:
x.shape

(4898, 11)

In [10]:
y

0       6
1       6
2       6
3       6
4       6
       ..
4893    6
4894    5
4895    6
4896    7
4897    6
Name: quality, Length: 4898, dtype: int64

###  <font color="green">Spilt the X & y

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [12]:
from sklearn.ensemble import RandomForestClassifier   # Import an algorithm

### <font color="blue">Manual Approach

In [13]:
forward_feature_selection=SequentialFeatureSelector(RandomForestClassifier(n_jobs=-1), # All the courses availabe in your pc.
                                                   k_features=6,         # How many feature you want.
                                                   forward= True,        # Forward Feature Selection
                                                   floating=False,
                                                   verbose=2,             # See How the model fitting
                                                   scoring="accuracy",  
                                                   cv=5).fit(x_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    3.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:   15.5s finished

[2023-10-29 11:30:00] Features: 1/6 -- score: 0.49036240982315765[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:   17.2s finished

[2023-10-29 11:30:17] Features: 2/6 -- score: 0.5460969121746718[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   16.4s finished

[2023-10-29 11:30:33] Features: 3/6 -- score: 0.6021033814985848[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:   14.8s finished

[2023-10-29 11:30:48] Features: 4/6 -- score: 0.6222310655231853[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:   12.7s finished

[2023-10-29 11:31:01] Features: 5/6 -- score: 0.6394415951990806[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:   11.1s finished

[2023-10-29 11:31:12] Features: 6/6 -- score: 0.6496533378732098

In [14]:
forward_feature_selection.k_feature_idx_  # Show Index Number of the Features which are Selected

(0, 1, 5, 6, 9, 10)

In [15]:
forward_feature_selection.k_feature_names_  #  Show Name of the Features which are Selected

('fixed acidity',
 'volatile acidity',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'sulphates',
 'alcohol')

In [16]:
forward_feature_selection.k_score_  # Show the score

0.6496533378732098

In [17]:
pd.DataFrame.from_dict(forward_feature_selection.get_metric_dict()).T  # Show all the information in DataFrame

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
1,"(10,)","[0.5029154518950437, 0.5, 0.5058309037900874, ...",0.490362,"(alcohol,)",0.021137,0.016446,0.008223
2,"(6, 10)","[0.5553935860058309, 0.521865889212828, 0.5408...",0.546097,"(total sulfur dioxide, alcohol)",0.01734,0.013491,0.006746
3,"(6, 9, 10)","[0.5816326530612245, 0.6122448979591837, 0.602...",0.602103,"(total sulfur dioxide, sulphates, alcohol)",0.015016,0.011683,0.005841
4,"(1, 6, 9, 10)","[0.6399416909620991, 0.6137026239067055, 0.604...",0.622231,"(volatile acidity, total sulfur dioxide, sulph...",0.015397,0.01198,0.00599
5,"(1, 5, 6, 9, 10)","[0.6632653061224489, 0.6224489795918368, 0.626...",0.639442,"(volatile acidity, free sulfur dioxide, total ...",0.022616,0.017596,0.008798
6,"(0, 1, 5, 6, 9, 10)","[0.6559766763848397, 0.6399416909620991, 0.641...",0.649653,"(fixed acidity, volatile acidity, free sulfur ...",0.011831,0.009205,0.004602

### <font color="blue">Automated Approach

In [18]:
forward_feature_selection1=SequentialFeatureSelector(RandomForestClassifier(n_jobs=-1), # All the  courses availabe in your pc.
                                                   k_features=(1,11),         # How many feature you want.
                                                   forward= True,        # Forward Feature Selection
                                                   floating=False,
                                                   verbose=2,             # See How the model fitting
                                                   scoring="accuracy",  
                                                   cv=5).fit(x_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:   15.9s finished

[2023-10-29 11:31:28] Features: 1/11 -- score: 0.48978144751122554[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:   16.9s finished

[2023-10-29 11:31:45] Features: 2/11 -- score: 0.5443493434913067[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   15.5s finished

[2023-10-29 11:32:01] Features: 3/11 -- score: 0.6023893937136899[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:   14.5s finished

[2023-10-29 11:32:16] Features: 4/11 -- score: 0.6260160456257581[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:   12.9s finished

[2023-10-29 11:32:29] Features: 5/11 -- score: 0.6408997467600178[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:   11.4s finished

[2023-10-29 11:32:40] Features: 6/11 -- score: 0.6549028537379498[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    9.2s finished

[2023-10-29 11:32:49] Features: 7/11 -- score: 0.661025728330957[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    7.4s finished

[2023-10-29 11:32:57] Features: 8/11 -- score: 0.663363197207976[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    6.1s finished

[2023-10-29 11:33:03] Features: 9/11 -- score: 0.6648226256091592[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    4.1s finished

[2023-10-29 11:33:07] Features: 10/11 -- score: 0.6624940946138622[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.0s finished

[2023-10-29 11:33:09] Features: 11/11 -- score: 0.6598625268668468

In [19]:
forward_feature_selection1.k_feature_names_

('fixed acidity',
 'volatile acidity',
 'citric acid',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'sulphates',
 'alcohol')

In [20]:
forward_feature_selection1.k_score_

0.6648226256091592

In [21]:
pd.DataFrame.from_dict(forward_feature_selection1.get_metric_dict()).T

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
1,"(10,)","[0.49416909620991256, 0.49854227405247814, 0.5...",0.489781,"(alcohol,)",0.018354,0.01428,0.00714
2,"(6, 10)","[0.5510204081632653, 0.5116618075801749, 0.540...",0.544349,"(total sulfur dioxide, alcohol)",0.022718,0.017675,0.008838
3,"(1, 6, 10)","[0.6239067055393586, 0.5787172011661808, 0.613...",0.602389,"(volatile acidity, total sulfur dioxide, alcohol)",0.020076,0.01562,0.00781
4,"(1, 4, 6, 10)","[0.6297376093294461, 0.6311953352769679, 0.634...",0.626016,"(volatile acidity, chlorides, total sulfur dio...",0.014954,0.011635,0.005817
5,"(1, 4, 5, 6, 10)","[0.6530612244897959, 0.6297376093294461, 0.635...",0.6409,"(volatile acidity, chlorides, free sulfur diox...",0.016993,0.013221,0.006611
6,"(1, 4, 5, 6, 9, 10)","[0.673469387755102, 0.6457725947521866, 0.6384...",0.654903,"(volatile acidity, chlorides, free sulfur diox...",0.016158,0.012572,0.006286
7,"(1, 2, 4, 5, 6, 9, 10)","[0.6661807580174927, 0.6443148688046647, 0.676...",0.661026,"(volatile acidity, citric acid, chlorides, fre...",0.014093,0.010965,0.005483
8,"(1, 2, 4, 5, 6, 7, 9, 10)","[0.6749271137026239, 0.6486880466472303, 0.657...",0.663363,"(volatile acidity, citric acid, chlorides, fre...",0.01414,0.011002,0.005501
9,"(0, 1, 2, 4, 5, 6, 7, 9, 10)","[0.685131195335277, 0.6428571428571429, 0.6545...",0.664823,"(fixed acidity, volatile acidity, citric acid,...",0.024719,0.019232,0.009616
10,"(0, 1, 2, 3, 4, 5, 6, 7, 9, 10)","[0.6632653061224489, 0.6341107871720116, 0.660...",0.662494,"(fixed acidity, volatile acidity, citric acid,...",0.020897,0.016259,0.008129
11,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)","[0.6676384839650146, 0.6501457725947521, 0.653...",0.659863,"(fixed acidity, volatile acidity, citric acid,...",0.014829,0.011538,0.005769