In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\mitra\Desktop\INNOMATICS(MITRABHANU PANDA)\ML\DATASETS\Medical Domain\insurance.csv")

In [3]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### Recrusive Feature Elemenation

In [4]:
x=df[["age","bmi","charges"]] # Continiuos
y=df[["region"]] # Categorical

In [5]:
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier

In [6]:
rfe=RFE(estimator=DecisionTreeClassifier(),n_features_to_select=2)
rfe.fit(x,y)

RFE(estimator=DecisionTreeClassifier(), n_features_to_select=2)

In [7]:
for i,col in zip(range(x.shape[1]),x.columns):
    print(f"{col} Selected = {rfe.support_[i]}, rank={rfe.ranking_[i]}")

age Selected = False, rank=2
bmi Selected = True, rank=1
charges Selected = True, rank=1

In [8]:
rfe.get_feature_names_out()

array(['bmi', 'charges'], dtype=object)