In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\mitra\Desktop\MAIN\MITRA P\ML\ML TECHNIQUES\ENCODING TECHNIQUES\ONE-HOT ENCODING\customer.csv")

In [4]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [5]:
df.columns

Index(['age', 'gender', 'review', 'education', 'purchased'], dtype='object')

In [9]:
df['gender'].value_counts()

Female    29
Male      21
Name: gender, dtype: int64

In [10]:
df['review'].value_counts()

Poor       18
Good       18
Average    14
Name: review, dtype: int64

In [11]:
df['education'].value_counts()

PG        18
School    16
UG        16
Name: education, dtype: int64

In [12]:
df=df.iloc[:,1:]

In [14]:
df.head()

   gender   review education purchased
0  Female  Average    School        No
1  Female     Poor        UG        No
2  Female     Good        PG        No
3  Female     Good        PG        No
4  Female  Average        UG        No

In [23]:
X=df.drop(["purchased"],axis=1)

In [24]:
y=df["purchased"]

## ONE HOT ENCODING USING PANDAS(GET_DUMMIES)

In [19]:
pd.get_dummies(df)

,gender_Female,gender_Male,review_Average,review_Good,review_Poor,education_PG,education_School,education_UG,purchased_No,purchased_Yes
0,1,0,1,0,0,0,1,0,1,0
1,1,0,0,0,1,0,0,1,1,0
2,1,0,0,1,0,1,0,0,1,0
3,1,0,0,1,0,1,0,0,1,0
4,1,0,1,0,0,0,0,1,1,0
5,1,0,1,0,0,0,1,0,0,1
6,0,1,0,1,0,0,1,0,1,0
7,1,0,0,0,1,0,1,0,0,1
8,1,0,1,0,0,0,0,1,1,0
9,0,1,0,1,0,0,0,1,0,1
10,1,0,0,1,0,0,0,1,0,1
11,0,1,0,1,0,0,0,1,0,1
12,0,1,0,0,1,0,1,0,1,0
13,1,0,1,0,0,0,1,0,1,0
14,0,1,0,0,1,1,0,0,0,1
15,0,1,0,0,1,0,0,1,1,0
16,0,1,0,0,1,0,0,1,0,1
17,1,0,0,0,1,0,0,1,0,1
18,0,1,0,1,0,0,1,0,1,0
19,0,1,0,0,1,1,0,0,0,1
20,1,0,1,0,0,0,1,0,0,1
21,0,1,1,0,0,1,0,0,1,0
22,1,0,0,0,1,1,0,0,0,1
23,1,0,0,1,0,0,1,0,1,0
24,1,0,1,0,0,1,0,0,0,1
25,1,0,0,1,0,0,1,0,1,0
26,1,0,0,0,1,1,0,0,1,0
27,1,0,0,0,1,1,0,0,1,0
28,0,1,0,0,1,0,1,0,1,0
29,1,0,1,0,0,0,0,1,0,1
30,0,1,1,0,0,0,0,1,1,0
31,1,0,0,0,1,0,1,0,0,1
32,0,1,1,0,0,0,0,1,0,1
33,1,0,0,1,0,1,0,0,0,1
34,0,1,1,0,0,0,1,0,1,0
35,0,1,0,0,1,0,1,0,0,1
36,1,0,0,1,0,0,0,1,0,1
37,0,1,1,0,0,1,0,0,0,1
38,1,0,0,1,0,0,1,0,1,0
39,0,1,0,0,1,1,0,0,1,0
40,0,1,0,1,0,0,1,0,1,0
41,0,1,0,1,0,1,0,0,0,1
42,1,0,0,1,0,1,0,0,0,1
43,0,1,0,0,1,1,0,0,1,0
44,1,0,1,0,0,0,0,1,1,0
45,0,1,0,0,1,1,0,0,0,1
46,1,0,0,0,1,1,0,0,1,0
47,1,0,0,1,0,1,0,0,0,1
48,1,0,0,1,0,0,0,1,0,1
49,1,0,0,1,0,0,0,1,1,0

### Droping the 1st Column

In [20]:
pd.get_dummies(df,drop_first=True)

,gender_Male,review_Good,review_Poor,education_School,education_UG,purchased_Yes
0,0,0,0,1,0,0
1,0,0,1,0,1,0
2,0,1,0,0,0,0
3,0,1,0,0,0,0
4,0,0,0,0,1,0
5,0,0,0,1,0,1
6,1,1,0,1,0,0
7,0,0,1,1,0,1
8,0,0,0,0,1,0
9,1,1,0,0,1,1
10,0,1,0,0,1,1
11,1,1,0,0,1,1
12,1,0,1,1,0,0
13,0,0,0,1,0,0
14,1,0,1,0,0,1
15,1,0,1,0,1,0
16,1,0,1,0,1,1
17,0,0,1,0,1,1
18,1,1,0,1,0,0
19,1,0,1,0,0,1
20,0,0,0,1,0,1
21,1,0,0,0,0,0
22,0,0,1,0,0,1
23,0,1,0,1,0,0
24,0,0,0,0,0,1
25,0,1,0,1,0,0
26,0,0,1,0,0,0
27,0,0,1,0,0,0
28,1,0,1,1,0,0
29,0,0,0,0,1,1
30,1,0,0,0,1,0
31,0,0,1,1,0,1
32,1,0,0,0,1,1
33,0,1,0,0,0,1
34,1,0,0,1,0,0
35,1,0,1,1,0,1
36,0,1,0,0,1,1
37,1,0,0,0,0,1
38,0,1,0,1,0,0
39,1,0,1,0,0,0
40,1,1,0,1,0,0
41,1,1,0,0,0,1
42,0,1,0,0,0,1
43,1,0,1,0,0,0
44,0,0,0,0,1,0
45,1,0,1,0,0,1
46,0,0,1,0,0,0
47,0,1,0,0,0,1
48,0,1,0,0,1,1
49,0,1,0,0,1,0

## ONE HOT ENCODING USING SKLEARN

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [27]:
from sklearn.preprocessing import OneHotEncoder

In [36]:
one=OneHotEncoder(drop="first")

In [37]:
x_train_new=one.fit_transform(x_train).toarray()

In [38]:
x_train_new.shape

(40, 5)

In [40]:
x_train_one=pd.DataFrame(x_train_new,columns=["1","2","3","4","5"])

In [41]:
x_train_one

      1    2    3    4    5
0   0.0  1.0  0.0  0.0  0.0
1   1.0  0.0  1.0  1.0  0.0
2   0.0  0.0  1.0  0.0  0.0
3   1.0  0.0  0.0  1.0  0.0
4   1.0  1.0  0.0  1.0  0.0
5   0.0  0.0  1.0  1.0  0.0
6   1.0  0.0  1.0  0.0  0.0
7   1.0  0.0  1.0  0.0  0.0
8   0.0  1.0  0.0  0.0  1.0
9   0.0  0.0  0.0  0.0  1.0
10  1.0  0.0  1.0  0.0  1.0
11  1.0  0.0  0.0  0.0  1.0
12  1.0  0.0  0.0  0.0  1.0
13  1.0  0.0  1.0  0.0  1.0
14  0.0  1.0  0.0  0.0  0.0
15  0.0  0.0  0.0  1.0  0.0
16  1.0  0.0  1.0  0.0  0.0
17  0.0  0.0  0.0  0.0  1.0
18  0.0  0.0  0.0  1.0  0.0
19  0.0  1.0  0.0  1.0  0.0
20  0.0  0.0  0.0  1.0  0.0
21  0.0  0.0  1.0  0.0  1.0
22  1.0  1.0  0.0  1.0  0.0
23  0.0  1.0  0.0  0.0  1.0
24  0.0  0.0  1.0  0.0  1.0
25  1.0  0.0  1.0  1.0  0.0
26  1.0  0.0  0.0  0.0  0.0
27  0.0  0.0  0.0  0.0  0.0
28  1.0  1.0  0.0  1.0  0.0
29  0.0  1.0  0.0  1.0  0.0
30  0.0  1.0  0.0  0.0  1.0
31  1.0  0.0  0.0  0.0  0.0
32  1.0  0.0  1.0  0.0  0.0
33  1.0  1.0  0.0  0.0  1.0
34  1.0  0.0  1.0  0.0  0.0
35  0.0  0.0  1.0  0.0  0.0
36  0.0  1.0  0.0  0.0  0.0
37  0.0  0.0  0.0  1.0  0.0
38  0.0  1.0  0.0  0.0  0.0
39  0.0  0.0  0.0  0.0  1.0